<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bookshop.dao.CartMapper">
    <resultMap id="BaseResultMap" type="com.bookshop.pojo.Cart">
        <constructor>
            <idArg column="id" javaType="java.lang.Integer" jdbcType="INTEGER"/>
            <arg column="user_id" javaType="java.lang.Integer" jdbcType="INTEGER"/>
            <arg column="book_id" javaType="java.lang.Integer" jdbcType="INTEGER"/>
            <arg column="quantity" javaType="java.lang.Integer" jdbcType="INTEGER"/>
            <arg column="checked" javaType="java.lang.Integer" jdbcType="INTEGER"/>
            <arg column="create_time" javaType="java.util.Date" jdbcType="TIMESTAMP"/>
            <arg column="update_time" javaType="java.util.Date" jdbcType="TIMESTAMP"/>
        </constructor>
    </resultMap>
    <sql id="Base_Column_List">
    id, user_id, book_id, quantity, checked, create_time, update_time
  </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from cart
        where id = #{id,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from cart
    where id = #{id,jdbcType=INTEGER}
  </delete>
    <insert id="insert" parameterType="com.bookshop.pojo.Cart">
    insert into cart (id, user_id, book_id, 
      quantity, checked, create_time, 
      update_time)
        values (#{id,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, #{bookId,jdbcType=INTEGER},
        #{quantity,jdbcType=INTEGER}, #{checked,jdbcType=INTEGER}, now(),
        now())
  </insert>
    <insert id="insertSelective" parameterType="com.bookshop.pojo.Cart">
        insert into cart
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="userId != null">
                user_id,
            </if>
            <if test="bookId != null">
                book_id,
            </if>
            <if test="quantity != null">
                quantity,
            </if>
            <if test="checked != null">
                checked,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="updateTime != null">
                update_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="userId != null">
                #{userId,jdbcType=INTEGER},
            </if>
            <if test="bookId != null">
                #{bookId,jdbcType=INTEGER},
            </if>
            <if test="quantity != null">
                #{quantity,jdbcType=INTEGER},
            </if>
            <if test="checked != null">
                #{checked,jdbcType=INTEGER},
            </if>
            <if test="createTime != null">
                now(),
            </if>
            <if test="updateTime != null">
                now(),
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.bookshop.pojo.Cart">
        update cart
        <set>
            <if test="userId != null">
                user_id = #{userId,jdbcType=INTEGER},
            </if>
            <if test="bookId != null">
                book_id = #{bookId,jdbcType=INTEGER},
            </if>
            <if test="quantity != null">
                quantity = #{quantity,jdbcType=INTEGER},
            </if>
            <if test="checked != null">
                checked = #{checked,jdbcType=INTEGER},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                update_time = now(),
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.bookshop.pojo.Cart">
    update cart
    set user_id = #{userId,jdbcType=INTEGER},
      book_id = #{bookId,jdbcType=INTEGER},
      quantity = #{quantity,jdbcType=INTEGER},
      checked = #{checked,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
        update_time = now()
    where id = #{id,jdbcType=INTEGER}
  </update>

    <select id="selectCartByUserIdBookId" resultMap="BaseResultMap" parameterType="map">
        SELECT
        <include refid="Base_Column_List"/>
        FROM cart
        WHERE user_id = #{userId}
        AND book_id = #{bookId}
    </select>

    <select id="selectCartByUserId" resultMap="BaseResultMap" parameterType="int">
        SELECT
        <include refid="Base_Column_List"/>
        FROM cart
        WHERE user_id = #{userId}
    </select>

    <!--如果为勾选的项目数量不为0, 则代表不是全选-->
    <select id="selectCartBookCheckedStatusByUserId" resultType="int" parameterType="int">
        SELECT count(1)
        FROM cart
        WHERE checked = 0
        AND user_id = #{userId}
    </select>

    <delete id="deleteByUserIdBookIds" parameterType="map">
        DELETE FROM cart
        WHERE user_id = #{userId}
        <if test="bookIdList != null">
            AND book_id IN
            <foreach collection="bookIdList" item="item" index="index" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
    </delete>

    <update id="checkedOrUncheckedBook" parameterType="map">
        UPDATE cart
        SET checked = #{checked},
        update_time = now()
        WHERE user_id = #{userId}
        <if test="bookId != null">
            AND book_id = #{bookId}
        </if>
    </update>

    <!--为了防止userId不存在的情况出现null的情况,  使用了内置函数IFNULL -->
    <select id="selectCartBookCount" parameterType="int" resultType="int">
        SELECT IFNULL(sum(quantity), 0) as count
        FROM cart
        WHERE user_id = #{userId}
    </select>

    <select id="selectCheckedCartByUserId" parameterType="int" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM cart
        WHERE user_id = #{userId}
        and checked = 1
    </select>
</mapper>